/*FONT IMPORT*/

/*FONT IMPORT*/

/*MIXINS*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  background-clip: padding-box;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
  -ms-transition: $transition;
}

@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

/*MIXINS*/

$black: #000000;
body, html{
  overflow-x: hidden;
}
body {
  font-family: "mini_serif-regular", serif;
  
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  #app {
    margin-top: 30px;
  }
  h1,
  h2,
  .title,
  .pretitle {
    font-family: "mini_serif-bold", serif;
    font-weight: 500;
  }
  p {
    font-size: 18px;
    @media screen and (max-width: 480px) {
      font-size: 17px;
    }
  }
  h1 {
    font-size: 60px;
    @media screen and (max-width: 480px) {
      font-size: 43px;
      line-height: 43px;
    }
    line-height: 60px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
    @media screen and (max-width: 480px) {
      font-size: 21px;
      line-height: 21px;
    }
  }
  .pretitle {
    margin-bottom: 0;
    font-size: 20px;
  }
  .title {
    margin-bottom: 50px;
    margin-top: 0px;
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  .container-fluid {
    max-width: 1260px;
    margin: 0 auto;
  }
  @media screen and (max-width:768px){
    .container{
      width: 100%;
    }
  }
  section {
    margin-bottom: 90px;
    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
  .carcontainer {
    .caritem {
      @media screen and (max-width: 768px) {
        text-align: center;
        img {
          width: 100%;
        }
      }
      &:nth-child(odd) {
        .carimage {
          @media screen and (min-width: 769px) {
            img {
              left: calc(50% + 10px);
              float: left;
            }
          }
          
        }
        @media screen and (min-width: 769px) {
          .carcontent {
            width: 50%;
            top: 50%;
            left: -15px;
            position: absolute;
            @include transform(translateY(-50%));
            -ms-transform:translateY(-50%);
          }
        }
      }
      &:nth-child(even) {
        .carimage {
          @media screen and (min-width: 769px) {
            img {
              right: calc(50% + 10px);
              float: right;
            }
          }
          
        }
        @media screen and (min-width: 769px) {
          .carcontent {
            width: 50%;
            top: 50%;
            right: -15px;
            position: absolute;
            @include transform(translateY(-50%));
            -ms-transform:translateY(-50%);
          }
        }
      }
    }
    .carimage {
      position: relative;
      padding: 0;
      img {
        position: relative;
      }
      .carcontent {
        padding-left: 15px;
        padding-right: 15px;
        @media screen and (max-width: 768px) {
          margin-bottom: 40px;
        }
        p {
          margin-bottom: 30px;
          @media screen and (max-width: 480px) {
            text-align: left;
          }
        }
      }
    }
  }
  .videowrapper {
    position: relative;
    cursor: pointer;
    max-width: 1260px;
    margin: 0 auto;
    #youtube {
      @media screen and (max-width: 768px) {
        display: block !important;
      }
    }
    .videocontent {
      position: absolute;
      color: #fff;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      -ms-transform:translate(-50%, -50%);
      .playbutton {
        display: block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        position: relative;
        color: #f5f5f5;
        text-align: center;
        text-decoration: none;
        background-color: #fff;
        margin: 0 auto;
        @include transition(background-color .3s ease-out);
        @include border-radius(50%);
        span {
          font-size: 50px;
          color: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          @include transition(color .3s ease-out);
          @include transform(translate(-50%, -50%));
          -ms-transform:translate(-50%, -50%);
        }
      }
    }
    &:hover {
      .playbutton {
        border: 3px solid #fff;
        background-color: $black;
        span {
          color: #fff;
        }
      }
    }
  }
  /*BTN BLACK EFFECT*/
  .btn-black {
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
      max-width: 100%;
    }
    font-family: "mini_sans-medium",
    sans-serif;
    background-color: $black;
    color: #fff;
    text-transform: uppercase;
    max-width: 150px;
    display: block;
    margin-bottom: 10px;
    position: relative;
    @include border-radius(0px);
    @include transform(perspective(1px) translateZ(0));
    @include transition(color .3s);
    border: 2px solid $black;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      -ms-transform: scaleX(0);
      @include transform(scaleX(0));
      @include transition(transform .3s ease-out);
      @include transform-origin(50%);
    }
    &:hover:before,
    :focus:before,
    :active:before {
      -ms-transform: scaleX(1);
      @include transform(scaleX(1));
    }
    &:hover,
    &:focus,
    &:active {
      color: $black;
    }
    &:hover {
      color: $black;
      background-color: #fff;
      /* @include transform(translateY(-100%));*/
    }
  }
}
