<template>
  <div class="homepage">
    <section>
      <div class="container-fluid">
        <!-- container fluid -->
        <div class="row">
          <!-- row -->
          <div class="col-md-12 text-center videowrapper" v-on:click="playVideo">
            <div class="embed-responsive embed-responsive-16by9">
              <img src="static/img/video-poster.jpg" class="img-responsive center-block hidden-xs videoposter" alt="video poster" v-show="!play"
              />
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ldjmb15Jsx0" frameborder="0" allowfullscreen
                v-show="play" id="youtube"></iframe>
            </div>
            <div class="videocontent hidden-xs" v-show="!play">
              <p class="pretitle">WATCH AND LEARN.</p>
              <h1 class="title">ALL4 EXPLAINED.</h1>
              <div class="playbutton">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </div>
            </div>

          </div>
        </div>
        <!-- end row -->
      </div>
    </section>
    <!-- end container fluid -->

    <section>
      <div class="container carcontainer">
        <p class="text-uppercase text-center pretitle">take your pick</p>
        <h1 class="text-center title">THE MINI ALL4 LINEUP.</h1>
        <div class="row caritem" v-for="car in cars" :key="car.title">
          <div class="col-sm-12 carimage">
            <img v-bind:src="'static/img/'+car.thumbnail" class="img-responsive" />
            <div class="carcontent">
              <h2>{{car.title}}</h2>
              <p>{{car.description}}</p>
              <router-link to="/" class="btn btn-black hvr-grow hvr-sweep-to-right">learn more</router-link>
              <router-link to="/" class="btn btn-black hvr-grow hvr-sweep-to-right">build &amp; price</router-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import data from '@/assets/data/data.json'

  export default {
    name: 'HomePage',
    data() {
      return {
        title: 'THE MINI ALL4 LINEUP.',
        play: false,
        cars: []
      }
    },
    created() {
      this.cars = data;
    },
    methods: {
      playVideo: function (event) {
        
        this.play = true;
        document.getElementById('youtube').src += "?autoplay=1";
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
