<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }

</script>
<style>
  @font-face {
    font-family: "mini_serif-bold";
    font-style: normal;
    font-weight: normal;
    src: url("http://kennethgeris.com/canadaworkertrades/fonts/mini_serif-bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://kennethgeris.com/canadaworkertrades/fonts//mini_serif-bold-webfont.woff") format("woff"), url("http://kennethgeris.com/canadaworkertrades/fonts/mini_serif-bold-webfont.woff2") format("woff2")
  }

  @font-face {
    font-family: "mini_serif-regular";
    font-style: normal;
    font-weight: normal;
    src: url("http://kennethgeris.com/canadaworkertrades/fonts/mini_serif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://kennethgeris.com/canadaworkertrades/fonts//mini_serif-regular-webfont.woff") format("woff"), url("http://kennethgeris.com/canadaworkertrades/fonts/mini_serif-regular-webfont.woff2") format("woff2")
  }

  @font-face {
    font-family: "mini_sans-medium";
    font-style: normal;
    font-weight: normal;
    src: url("http://kennethgeris.com/canadaworkertrades/fonts/mini_sans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://kennethgeris.com/canadaworkertrades/fonts/mini_sans-medium-webfont.woff") format("woff"), url("http://kennethgeris.com/canadaworkertrades/fonts/mini_sans-medium-webfont.woff2") format("woff2")
  }

</style>

<style src="./assets/scss/main.scss" lang="scss"></style>
